"""
Sample settings
"""

## Microsoft Cloud App Security Settings

# [Required] Replace this with your MCAS URL:
MCASURL = 'https://...portal.cloudappsecurity.com/api/v1/alerts/'

# [Required] Replace with MCAS token. You can find this by viewing the portal and/or
#            generating an API token you want to use:
MCASTOKEN = 'abcdef1234567890...'

# [Required] MCAS query period in seconds. Warning: Microsoft has API query limits!
MCASTIME = 300

# [Optional] Dictionary that maps <email.domain> to the (Azure) AD forest(s) users.
#            Example: { 'company.com': 'isengard' } will map 'username@company.com'
#            to the EIQ handle 'isengard\\username'. You can have multiple dictionary
#            entries for multiple domains/forests.
MCASADMAPPING = { '<email.domain>': 'AADforest' }

# [Optional] Verify the TLS connection to MCAS. Don't change this unless you know
#            what you're doing!
MCASSSLVERIFY = True

## Settings for EclecticIQ

# [Required] EIQ hostname. Should be a complete URI: 'https://myeiq.localdomain'
EIQHOST = 'https://myeiq.localdomain'

# [Required] Pick '/api' as the EIQVERSION for EIQ <=2.0.x, and '/private' for EIQ 2.1.x+
EIQVERSION = '/private'

# [Required] EIQ username and password:
EIQUSER = 'myeiqautomationuser' 
EIQPASS = 'myeiqautomationpass'

# [Required] EIQ 'source' UUID
#            One username can have multiple sources where it can 'ingest data' from.
#            This 'source' can be found through the EIQ webinterface and JSON calls.
EIQSOURCE = 'myeiqautomationsource'

# [Required] Choose a prefix/header that will be added to every EIQ entity for easy searches/recognition,
#            and choose the maximum title length of attributes types that describe the content of indicators
TITLETAG = '[MyCERT MCAS]'
TITLELENGTH = 70

# [Optional] Change the MCASSSLVERIFY and EIQSSLVERIFY variables to False,
#            if you do not want to verify SSL certificates (e.g. when using self-signed certificates).
#            Do not disable this unless you are certain and understand the risks.
EIQSSLVERIFY = True
